@import '@/assets/styles/var.scss';

.socket {
    // background-color: $color-primary-9;
    // border: 1px dashed $color-primary-7;

    // background-color: $color-primary-9;
    // border: 1px solid $color-white;

    // background-color: $background-color-light;
    margin: 4px;
    background-image: 
        linear-gradient(
            45deg, $color-primary-9 25%, transparent 0, transparent 75%, $color-primary-9 0
        ),
        linear-gradient(
            45deg, $color-primary-9 25%, transparent 0, transparent 75%, $color-primary-9 0
        );
    background-position: 0 0, 6px 6px;
    background-size: 12px 12px;
    border: 2px solid $color-white;
}
