/* --------------------------color-------------------------- */

/* theme */
// $color-primary: #155bd4 !default;
$color-primary: #1394ff !default;
// $color-primary: #0099FF !default;
$color-primary-9: fade-out($color-primary, 0.9) !default;
$color-white: #fff !default;
$color-black: #000 !default;

// 中立色
$color-black-1: #000 !default;
$color-black-2: #323232 !default;
$color-black-3: #555 !default;
$color-black-4: #666 !default;
$color-black-5: #999 !default;
$color-black-6: #B2B2B2 !default;
$color-black-7: #B5B5B5 !default;
$color-black-8: #CCC !default;
$color-black-9: #DDD !default;
$color-black-10: #E8E8E8 !default;
$color-black-11: #EEE !default;
$color-black-12: #F2F2F2 !default;
$color-black-13: #F5F5F5 !default;
$color-black-14: #FAFAFA !default;

/* transparent */
$color-text-thin-dark-1: rgba(0, 0, 0, .1) !default;
$color-text-thin-dark-2: rgba(0, 0, 0, .2) !default;
$color-text-thin-dark-3: rgba(0, 0, 0, .3) !default;
$color-text-thin-dark-4: rgba(0, 0, 0, .4) !default;
$color-text-thin-dark-5: rgba(0, 0, 0, .5) !default;
$color-text-thin-dark-6: rgba(0, 0, 0, .6) !default;
$color-text-thin-dark-7: rgba(0, 0, 0, .7) !default;
$color-text-thin-dark-8: rgba(0, 0, 0, .8) !default;
$color-text-thin-dark-9: rgba(0, 0, 0, .9) !default;

/* text color */
// $text-color-primary: #323232 !default;
// $text-color-regular: #999 !default;
$text-color-emphatic: $color-black-2 !default;
$text-color-primary: $color-black-4 !default;

// border-color
$border-color-primary: $color-black-10 !default; // #E8E8E8

// background-color
// $background-color-primary: #F2F2F2 !default; // #F2F2F2
// $background-color-regular: #F5F5F5 !default; // #F5F5F5
// $background-color-secondary: #FAFAFA !default; // #FAFAFA
$background-color-primary: $color-black-14 !default; // #FAFAFA

/* z-index */
$z-index-negative: -1 !default;
$z-index-s: 1 !default;
$z-index-m: 10 !default;
$z-index-l: 100 !default;
$z-index-xl: 1000 !default;

/* animation-duration */
$animation-duration-slow: 0.6s !default;
$animation-duration-base: 0.3s !default;
$animation-duration-fast: 0.15s !default;

/* font-size */
$font-size-primary: 14px !default;